@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: radial-gradient(circle, rgb(131, 130, 130), rgb(51, 51, 51), rgb(31, 30, 30));
    background-size: cover;
    min-height: 100%;
}

.fa-star{
   font-size: 25pt;
   color: rgb(205, 231, 58);

}

.fa-gift{
    color: rgb(134, 13, 13);
}

#tree_star{
    font-size: 13pt;
    font-weight: bolder;
}

.footer{
    margin-top: 4.5%;
    font-size: 9.5pt;
    font-style: italic;
}